//색상정의
$purple:#6024c6;
$pinkd3:#fdc1d3;
$grey28:#282a2e;
$grey96:#96989c;
$greye7:#e7e9ec;
$grey5a:#5a5c60;
$greyf6:#f1f3f6;
$grey6f:#6f736f;
$greydd:#dddfe2;
$green:#c8e3d6;
$white:#fff;
$black:#000;

// 이미지경로
$imageUrl:"../images/";

// 반응형기준
$web: 1024px;

