.visual {
      position: relative;
      height: 500px;
      background-color: $pinkd3;
      @include mobile {
            height: 425px;
      }
      &__paging {
            @include position(left, 50%, bottom, 10px);
            display: flex;
            padding: 4px;
            background-color: rgba($white, .5);
            z-index: 1000;
            border-radius: 8px;
            @include mobile {
                  // @include position(left, 50%, bottom, 10px);     <--- 중복되서 지워줬음
                  left: inherit;
                  right: 20px;
                  font-size: 13px;
                  padding: 0 12px;
                  line-height: 20px;
                  border-radius: 20px;
                  .swiper-pagination-total {
                        &::after {
                              content: "+";
                              padding-left: 5px;

                        }
                  }
            }
            button {
                  padding: 0 30px;
                  height: 30px;
                  background-color: transparent;
                  transition: background .3s;
                  color: $grey5a;
                  border-radius: 6px;
                  white-space: nowrap;
                  &[aria-current] {
                        background-color: $white;
                        box-shadow: 1px 1px 3px rgba($black, .1);
                        color: $black;
                  }
            }
      }
}